.container{
	width: 600px;
	/*height: 400px;*/
	border :5px solid;
	margin: 30px auto;
	box-sizing: border-box;
	display: flex;
	/*flex-direction: column-reverse;*/
	/*flex-wrap: wrap-reverse;*/
	/*justify-content: flex-end;*/
	align-items:baseline;
}

.container div{
	/*width: 100px;
	height: 100px;*/
	background-color: cyan;
	margin: 2px;
	flex:1;
	/*float: left;*/
}
.container div.tiga{
	font-size: 60px;
}
.container div.empat{
	font-size: 100px;
}
.satu{order:3;align-self: center;}
.container div.dua{order:1; flex: 2;}
.tiga{order:4;}
.empat{order:2;}