.container{
	width: 600px;
	/*height: 150px;*/
	border :5px solid;
	margin: 30px auto;
	box-sizing: border-box;
}
/*penyesuaian tinggi box dengan metode CLEAR agar tinggi container menyesuaikan div didalamnya*/
.container::after{
	content: '';
	display: block;
	clear: both;
}
.container div{
	width: 100px;
	height: 100px;
	background-color: blue;
	float: left;
}
